<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ed.versity - Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/b7a74d837b.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/IMG/logo.png" />
  <link rel="stylesheet" href="/css/mentor/home-mentor.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .jadwal-container {
      margin: 20px;
    }

    .accordion .fa {
      margin-right: 0.5rem;
    }
  </style>
  <script>
    $(document).ready(function () {
      // Add minus icon for collapse element which is open by default
      $(".collapse.show").each(function () {
        $(this).prev(".card-header").find(".fa").addClass("fa-chevron-up").removeClass("fa-chevron-down");
      });

      // Toggle plus minus icon on show hide of collapse element
      $(".collapse")
        .on("show.bs.collapse", function () {
          $(this).prev(".card-header").find(".fa").removeClass("fa-chevron-down").addClass("fa-chevron-up");
        })
        .on("hide.bs.collapse", function () {
          $(this).prev(".card-header").find(".fa").removeClass("fa-chevron-up").addClass("fa-chevron-down");
        });
    });
  </script>
</head>

<body>
  <!-- Modal -->
  <!-- Inbox/Notif -->
  <div class="modal fade inboxModal" id="inboxModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <!-- <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row mt-1">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-bell primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4;">
                <h5>Request kelas telah disetujui</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4;">
                <h5>Promo Kelas</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4;">
                <h5>Request Kelas telah di tolak</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-check primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4;">
                <h5>Verifikasi Akun Anda</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>

            <a class="btn primary-outline w-100 mt-4" href="edmessage-mentor.html">Lihat Semua</a>
          </div>
        </div>
      </div> -->
  </div>
  <!-- Modal; -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color sticky-top">

  </nav>
  <!-- Navbar ; -->

  <!-- request kelas -->

  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="buka-kelas-container rounded row mt-3 bg-light p-5">
          <img class="img-fluid" src="/IMG/logo-04.svg" alt="" />
          <a href="/dashboard-mentor/buka-kelas" class="mt-2 brn-lg btn text-light bg-primary-color">
            Buka Kelas
          </a>
        </div>
        <div class="row mt-4">
          <div class="col" style="text-align: center;">
            <div class="jadwal-kelas bg-light rounded px-3 py-5">
              <h1 class="">Jadwal Kelas</h1>

              <div class="jadwal-container">
                <div class="accordion" id="accordionMentor">
            
                  <% for (let i = 0; i< userCourse.length; i++){ %> 
                    <div class="card">
                      <div class="card-header" id="heading<%=userCourse[i].course_id%>">
                        <h6 class="mb-0">
                          <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapse<%=userCourse[i].course_id%>"><i class="fa fa-chevron-down"></i> <%= userCourse[i].tanggal_kelas %> </button>
                        </h6>
                      </div>
                      <div id="collapse<%=userCourse[i].course_id%>" class="collapse" aria-labelledby="heading<%=userCourse[i].course_id%>" data-parent="#accordionMentor">
                        <div class="card-body">
                          <h4><%= userCourse[i].mata_kuliah %></h4>
                          <p><%= userCourse[i].deskripsi_materi %></p>
                          <a href="/dashboard-mentor/detail-kelas/<%= userCourse[i].course_id %>" class="btn mb-2 w-100 bg-primary-color text-white">
                            Cek Kelas
                          </a>
                          <button data-bs-toggle="modal" data-bs-target="#tandai_selesai" class="btn w-100 bg-primary-color text-light" onclick="changeAction(<%= userCourse[i].course_id %>)">
                            <i class="fa fa-check"></i> Tandai Selesai
                          </button>
                        </div>
                      </div>
                    </div>
                  <% } %> 

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-12">
        <% if (success && success.length) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
        <% if (error && error.length) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
        <!-- Tab panes -->
        <div class="tab-content">
          <div id="prodi1" class="container tab-pane active">
            <div class="listKelasContainer ms-1">
              <h3 class="text-light mb-4 mt-2">Kelas yang bisa diajar</h3>
              <!-- search box -->
              <div class="row">
                <div class="col-md-8 col-12">
                  <!-- <div style="width: 100%;" class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Cari Kelas" aria-describedby="button-addon2" />
                    <button class="btn btn-light search-class">
                      <i class="fa primary-color fa-search"></i>
                    </button>
                  </div> -->
                </div>
                <div class="col-md-4 col-12 mb-3">
                  <!-- <div class="d-flex dropdown justify-content-end align-items-center">
                    <label for="dropdownMenuButton1" class="text-light me-3">Urutkan</label>
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Terbaru
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Terbaru</a></li>
                      <li><a class="dropdown-item" href="#">Paling Banyak Diikuti</a></li>
                    </ul>
                  </div> -->
                </div>
              </div>

              <!-- list kelas -->
              <% for( let index=0; index < currentUserCourse.length; index+=2 ) { %>
                <div class="row listKelasContainer">
                  <% if (currentUserCourse[index]) { %>
                    <div class="col-md-6 col-12">
                      <a style="width: 100%;" class="btn btn-light mb-3" data-bs-toggle="collapse"
                        href="#collapse<%=currentUserCourse[index].course_id%>" role="button" aria-expanded="false"
                        aria-controls="collapse<%=currentUserCourse[index].course_id%>">
                        <div class="row">
                          <div class="col-3">
                            <% if (currentUserCourse[index].currentKelasMaster.foto_profil) { %>
                                <img class="foto-profil" src="/<%= currentUserCourse[index].currentKelasMaster.foto_profil %> " alt="foto-profil"
                                  width="90px" height="90px" />
                              <% } else { %>
                                <img class="foto-profil" src="/IMG/foto-profil-placeholder.png" alt="foto-profil"
                                  width="90px" />
                              <% } %>
                          </div>
                          <div class="col pt-2" style="text-align: start; line-height: 0.6;">
                            <p class="mb-0">
                              <%= currentUserCourse[index].program_studi %>
                            </p>
                            <button
                              onClick="location.href='/dashboard-mentor/detail-kelas/<%=currentUserCourse[index].course_id%>'"
                              class="btn-link">
                              <%= currentUserCourse[index].mata_kuliah %>
                            </button>
                            <% if (currentUserCourse[index].tipe_kelas=='private' ) { %>
                              <i class="fa fa-lock fs-6"></i>
                            <% } %>
                            <p style="font-size: 14px;">
                              <%= currentUserCourse[index].currentKelasMaster.nama_lengkap %>
                            </p>
                            <p class="text-secondary" style="font-size: 14px;">
                              <%= currentUserCourse[index].tanggal_kelas %> • <%= currentUserCourse[index].waktu_kelas %> WIB
                            </p>
                            <% if ((currentUserCourse[index].mentor_id==currentUser.mentor_id) && currentUserCourse[index].status=='pending' && currentUserCourse[index].tipe_kelas=='private' ) { %>
                              <span class="badge bg-warning text-dark">Menunggu persetujuan</span>
                            <% } %>
                          </div>
                        </div>
                      </a>
                      <div class="collapse" id="collapse<%=currentUserCourse[index].course_id%>">
                        <div class="card card-body mb-3">
                          <%= currentUserCourse[index].deskripsi_materi %>
                            <a class="btn btn-dark mt-2"
                              href="/dashboard-mentor/detail-kelas/<%=currentUserCourse[index].course_id%>">Cek
                              Kelas</a>
                        </div>
                      </div>
                    </div>
                  <% } %>
                  <% if (currentUserCourse[index+1]) { %>
                    <div class="col-md-6 col-12">
                      <a style="width: 100%;" class="btn btn-light mb-3" data-bs-toggle="collapse"
                        href="#collapse<%=currentUserCourse[index+1].course_id%>" role="button"
                        aria-expanded="false" aria-controls="collapse<%=currentUserCourse[index+1].course_id%>">
                        <div class="row">
                          <div class="col-3">
                            <img class="foto-profil img-fluid" src="/IMG/foto-profil.jpg" alt="profil" />
                          </div>
                          <div class="col pt-2" style="text-align: start; line-height: 0.6;">
                            <p class="mb-0">
                              <%= currentUserCourse[index+1].program_studi %>
                            </p>
                            <button onClick="location.href='/dashboard-mentor/detail-kelas/<%=currentUserCourse[index+1].course_id%>'" class="btn-link">
                              <%= currentUserCourse[index+1].mata_kuliah %>
                            </button>
                            <% if (currentUserCourse[index+1].tipe_kelas=='private' ) { %>
                              <i class="fa fa-lock fs-6"></i>
                            <% } %>
                            <p class="text-secondary" style="font-size: 14px;">
                              <%= currentUserCourse[index+1].tanggal_kelas %> • <%= currentUserCourse[index+1].waktu_kelas %> WIB
                            </p>
                            <% if ((currentUserCourse[index+1].mentor_id==currentUser.mentor_id) && currentUserCourse[index+1].status=='pending' && currentUserCourse[index+1].tipe_kelas=='private' ) { %>
                              <span class="badge bg-warning text-dark">Menunggu persetujuan</span>
                            <% } %>
                          </div>
                        </div>
                      </a>
                      <div class="collapse" id="collapse<%=currentUserCourse[index+1].course_id%>">
                        <div class="card card-body mb-3">
                          <%= currentUserCourse[index+1].deskripsi_materi %>
                          <a class="btn btn-dark mt-2" href="/dashboard-mentor/detail-kelas/<%=currentUserCourse[index+1].course_id%>">
                            Cek Kelas
                          </a>
                        </div>
                      </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
          </div>
          <div id="prodi2" class="container tab-pane fade">
            <br />
            <h3>Menu 1</h3>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
          <div id="menu2" class="container tab-pane fade">
            <br />
            <h3>Menu 2</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal ketika mentor klik "tandai selesai"-->
  <div class="modal fade notif-modal" id="tandai_selesai" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="" method="post" id="kelas-selesai-form" enctype="multipart/form-data">
          <div class="modal-body">
            <h4 class="mb-1">Konfirmasi Selesaikan Kelas</h4>
            <div class="bg-primary-color mb-4" style="width: 80%; height: 4px;"></div>
            <h6 class="mb-4">
              ed.coin akan diberikan setelah tim kami melakukan validasi terhadap bukti kelas yang telah terlampir pada
              kolom di bawah ini.
            </h6>
            <label class="fs-5" for="upload-file">
              Kirim bukti screenshot kelas
            </label>
            <input class="form-control mb-4" name="bukti_selesai" id="upload-file" type="file" accept=".png, .jpg, .jpeg"/>
            <div class="row justify-content-end">
              <div class="d-flex justify-content-end">
                <a class="me-2 btn primary-outline primary-color btn-lg" data-bs-dismiss="modal">Batal</a>
                <button type="submit" class="me-2 btn bg-primary-color text-light btn-lg">Kirim</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    function changeAction(id){
      $('#kelas-selesai-form').attr('action', '/dashboard-mentor/kelas-selesai/'+id+'?_method=PUT');
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/javascript/navbar-mentor.js"></script>
  // <script src="/javascript/notif-mentor.js"></script>
</body>

</html>
