<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ed.versity - Buka Kelas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

  <script src="https://kit.fontawesome.com/b7a74d837b.js" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="/IMG/logo.png" />
  <link rel="stylesheet" href="/css/student/bukakelas-pelajar.css" />
</head>

<body>
  <!-- Modal -->
  <!-- Inbox/Notif -->
  <div class="modal fade inboxModal" id="inboxModal" tabindex="-1" aria-hidden="true">
    <!-- <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row mt-1">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-bell primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Request kelas telah disetujui</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Promo Kelas</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Request Kelas telah di tolak</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-check primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Verifikasi Akun Anda</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>

            <a class="btn primary-outline w-100 mt-4" href="edmessage.html">Lihat Semua</a>
          </div>
        </div>
      </div> -->

  </div>
  <!-- Modal; -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color sticky-top">

  </nav>
  <!-- Navbar ; -->

  <!-- request kelas -->
  <div class="container-fluid headContainer mt-5 mb-5 container rounded bg-light">
    <div class="mt-5">
      <center>
        <img class="img-fluid" src="/IMG/logo-03.svg" alt="" />
      </center>
      <div class="requestContainer mb-5">
        <a href="/request-kelas" class="req-btn primary-outline btn fw-bold primary-color" id="requestBtn"
          style="font-size: 2rem;">Buka Kelas</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row tab-container">
      <div class="col list-prodi ms-2 rounded mb-5">
        <h5 class="text-dark mt-3 mb-3 ms-2">Program Studi (<%= jumlahProdi %>)</h5>
        <!-- Nav tabs -->
        <ul class="nav flex-column nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#semua">Semua</a>
          </li>
          <% prodi.forEach((namaProdi, index) => { %>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#prodi<%= index %>"><%= namaProdi.program_studi %></a>
            </li>
          <% }) %>
        </ul>
      </div>
      <div class="col-md-9 col-12">
        <!-- Tab Content -->
        <!-- Prodi 1 -->
        <div class="tab-content">

          <div id="semua" class="container tab-pane active">
            <div class="listKelasContainer">
              <h3 class="text-light mb-4 mt-2">Kelas yang telah diajukan</h3>
              <!-- search box -->
              <!-- <div class="row">
                <div class="col-md-9 col-12">
                  <div style="width: 80%" class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Cari Mata Kuliah.."
                      aria-describedby="button-addon2" />
                    <button class="btn btn-light search-class">
                      <i class="fa primary-color fa-search"></i>
                    </button>
                  </div>
                </div>
                <div class="col-md-3 col-12 mb-4">
                  <div class="dropdown">
                    <label for="dropdownMenuButton1" class="text-light">Urutkan</label>
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Terbaru
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Terbaru</a></li>
                      <li><a class="dropdown-item" href="#">Paling banyak diikuti</a></li>
                    </ul>
                  </div>
                </div>
              </div> -->

              <!-- LIST KELAS -->
              <% for( let i=0; i < courses.length; i+=2 ) { %>
                <div class="row">
                  <% for( let j=i; j < i+2 && j < courses.length; j++ ) { %>
                    <% if (courses[j]) { %>
                      <div class="col-md-6 col-12">
                        <a style="width: 100%" class="btn btn-light mb-3" data-bs-toggle="collapse"
                          href="#collapse<%= courses[j].course_id %>" role="button" aria-expanded="false"
                          aria-controls="collapse<%= courses[j].course_id %>">
                          <div class="row">
                            <div class="col-3">
                              <img class="foto-profil img-fluid" src="/IMG/foto-profil.jpg" alt="profil" />
                            </div>
                            <div class="col pt-2" style="text-align: start; line-height: 0.6">
                              <h6 class="mb-0">
                                <%= courses[j].program_studi %>
                              </h6>
                              <button onclick="href(<%= courses[j].course_id %>)" class="btn-link">
                                <%= courses[j].mata_kuliah %>
                              </button>
                              <p>
                                <%= courses[j].nama_mentor %>
                              </p>
                              <p class="text-secondary" style="font-size: 14px">
                                <%= courses[j].tanggal_kelas %> • <%= courses[j].waktu_kelas %> WIB
                              </p>
                            </div>
                          </div>
                        </a>
                        <div class="collapse" id="collapse<%= courses[j].course_id %>">
                          <div class="card card-body mb-3">
                            <%= courses[j].deskripsi_materi %>
                              <a class="btn btn-dark mt-2" href="/kelas/<%= courses[j].course_id %>">Cek Kelas</a>
                          </div>
                        </div>
                      </div>
                    <% } %>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>

          <% prodi.forEach((namaProdi, index) => { %>
            <div id="prodi<%= index %>" class="container tab-pane">
              <div class="listKelasContainer">
                <h3 class="text-light mb-4 mt-2">Kelas yang telah diajukan</h3>
                <!-- search box -->
                <!-- <div class="row">
                  <div class="col-md-9 col-12">
                    <div style="width: 80%" class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Cari Mata Kuliah.."
                        aria-describedby="button-addon2" />
                      <button class="btn btn-light search-class">
                        <i class="fa primary-color fa-search"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 mb-4">
                    <div class="dropdown">
                      <label for="dropdownMenuButton1" class="text-light">Urutkan</label>
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Terbaru
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Terbaru</a></li>
                        <li><a class="dropdown-item" href="#">Paling banyak diikuti</a></li>
                      </ul>
                    </div>
                  </div>
                </div> -->
  
                <!-- LIST KELAS -->
                <% for( let i=0; i < courses.length; i+=2 ) { %>
                  <div class="row">
                    <% for( let j=i; j < i+2 && j < courses.length; j++ ) { %>
                      <% if (courses[j] && courses[j].program_studi == namaProdi.program_studi) { %>
                        <div class="col-md-6 col-12">
                          <a style="width: 100%" class="btn btn-light mb-3" data-bs-toggle="collapse"
                            href="#collapse<%= courses[j].course_id %>" role="button" aria-expanded="false"
                            aria-controls="collapse<%= courses[j].course_id %>">
                            <div class="row">
                              <div class="col-3">
                                <img class="foto-profil img-fluid" src="/IMG/foto-profil.jpg" alt="profil" />
                              </div>
                              <div class="col pt-2" style="text-align: start; line-height: 0.6">
                                <button onclick="href(<%= courses[j].course_id %>)" class="btn-link">
                                  <%= courses[j].mata_kuliah %>
                                </button>
                                <p>
                                  <%= courses[j].nama_mentor %>
                                </p>
                                <p class="text-secondary" style="font-size: 14px">
                                  <%= courses[j].tanggal_kelas %> • <%= courses[j].waktu_kelas %> WIB
                                </p>
                              </div>
                            </div>
                          </a>
                          <div class="collapse" id="collapse<%= courses[j].course_id %>">
                            <div class="card card-body mb-3">
                              <%= courses[j].deskripsi_materi %>
                              <a class="btn btn-dark mt-2" href="/kelas/<%= courses[j].course_id %>">Cek Kelas</a>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    <% } %>
                  </div>
                <% } %>
              </div>
            </div>
          <% }) %>
          
        </div>
      </div>
    </div>
    <div class="container berita-terbaru mb-5">
      <div class="row mt-3">
        <h3 class="text-light">Berita Terbaru</h3>
        <div class="col-md-4 col-12">
          <div class="card">
            <img src="/IMG/no-image.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card">
            <img src="/IMG/no-image.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card">
            <img src="/IMG/no-image.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function href(id) {
      window.location.href = "/kelas/" + id;
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/javascript/navbar.js"></script>
  <!-- langsung isi di file ini aja -->
  <!-- <script src="javascript/notif.js"></script> -->
</body>

</html>