<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/b7a74d837b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/student/home.css" />
  <link rel="shortcut icon" href="/IMG/logo.png" />
  <title>ed.versity - home</title>
</head>

<body>



  <!-- Modal -->
  <!-- Inbox/Notif -->
  <!-- <div class="modal fade inboxModal" id="inboxModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row mt-1">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-bell primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Request kelas telah disetujui</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Promo Kelas</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Request Kelas telah di tolak</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-1">
                <i class="fa mt-1 fs-3 fa-check primary-color me-2"></i>
              </div>
              <div class="col" style="line-height: 0.4">
                <h5>Verifikasi Akun Anda</h5>
                <label class="inbox-label">Cek selengkapnya untuk memilih mentor</label>
              </div>
            </div>
            <a class="btn primary-outline w-100 mt-4" href="edmessage.html">Lihat Semua</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Modal; -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color sticky-top">

  </nav>
  <!-- Navbar ; -->

  <!-- Carousel -->
  <section>
    <div class="container mt-5">
      <% if (success && success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
          <% if (error && error.length) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
              <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/IMG/01.png" class="d-block w-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block"></div>
                  </div>
                  <div class="carousel-item">
                    <img src="/IMG/02.png" class="d-md-block w-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block"></div>
                  </div>
                  <div class="carousel-item">
                    <img src="/IMG/03.png" class="d-block w-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block"></div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    </div>
  </section>

  <!-- Kelas yang sudah di buka -->

  <section class="pt-1 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4 class="mb-3 text-light">Kelas yang sudah dibuka</h4>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-dark mb-3 mr-1" href="#daftarKelasCarousel" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-dark mb-3" href="#daftarKelasCarousel" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>

        <div class="col-12">
          <div id="daftarKelasCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner kelas-dibuka">
              <% for( let index=0; index < courseInfo.length; index+=3 ) { %>
                <% if (index < 3 ) { %>
                  <div class="carousel-item active">
                    <% } else { %>
                      <div class="carousel-item">
                        <% } %>
                          <div class="row">
                            <% for( let i=index; i < index+3 && i < courseInfo.length; i++ ) { %>
                              <% if (courseInfo[i]) { %>
                                <div class="col-md-4 mb-3">
                                  <a href="/kelas/<%= courseInfo[i].course_id %> " class="card-kelas">
                                    <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                                      <div class="card-body bg-light">
                                        <div class="row">
                                          <div class="col-md-3">
                                            <!-- foto profil -->
                                            <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                                          </div>
                                          <div class="col ms-3">
                                            <h6 class="mb-0">
                                              <%= courseInfo[i].program_studi %>
                                            </h6>
                                            <h5 class="mb-0">
                                              <%= courseInfo[i].mata_kuliah %>
                                            </h5>
                                            <p class="mb-3 p-0">
                                              <%= courseInfo[i].nama_mentor %>
                                            </p>
                                            <div style="line-height: 0.3">
                                              <p>
                                                <%= courseInfo[i].tanggal_kelas %>
                                              </p>
                                              <p>
                                                <%= courseInfo[i].waktu_kelas %> WIB
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                                <% } %>
                                  <% } %>
                          </div>
                      </div>
                      <% } %>
                  </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>



  <!-- Kelas yang sudah di buka (berdasarkan fakultas) -->
  <!-- Fakultas A -->
  <section class="pt-2 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4 class="mb-3 text-light">Mata Kuliah Program Studi A</h4>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-dark mb-3 mr-1" href="#carouselControls2" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-dark mb-3" href="#carouselControls2" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        <div class="col-12">
          <div id="carouselControls2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner programA">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fakultas A ; -->

  <!-- Fakultas B -->
  <section class="pt-2 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4 class="mb-3 text-light">Mata Kuliah Program Studi B</h4>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-dark mb-3 mr-1" href="#carouselControls3" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-dark mb-3" href="#carouselControls3" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        <div class="col-12">
          <div id="carouselControls3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner programB">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- slide 2 -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 mb-3">
                    <a href="info-kelas.html" class="card-kelas">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="/IMG/bg-buka_kelas.jpg" />
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-md-3">
                              <!-- foto profil -->
                              <img class="foto-profil" src="/IMG/foto-profil.jpg" alt="foto-profil" />
                            </div>
                            <div class="col ms-3">
                              <h5 class="mb-3">Struktur Bangunan</h5>
                              <div style="line-height: 0.3">
                                <p class="card-text">Iqbal Bin Yahya</p>
                                <p>30 Mei 2022</p>
                                <p>23:59 WIB</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fakultas B; -->

  <!-- Bootstrap bundle -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="javascript/navbar.js"></script>
  <!-- <script src="javascript/notif.js"></script> -->
</body>

</html>