<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Security-Policy" content="img-src *">
  <title>ed.versity - Option</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/b7a74d837b.js" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="/IMG/logo.png" />
  <link rel="stylesheet" href="/css/student/option.css" />
</head>

<body>
  <!-- Modal -->
  <!-- Inbox/Notif -->
  <div class="modal fade inboxModal" id="inboxModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <!-- <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mt-1">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-bell primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Request kelas telah disetujui</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Promo Kelas</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Request Kelas telah di tolak</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-check primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Verifikasi Akun Anda</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
  
          <a class="btn primary-outline w-100 mt-4" href="edmessage.html">Lihat Semua</a>
        </div>
      </div>
    </div> -->
  </div>
  <!-- Modal; -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color sticky-top">

  </nav>
  <!-- Navbar ; -->

  <!-- request kelas -->

  <div class="container mt-5">
    <div class="row tab-container">
      <div class="col sidebar rounded ms-2 me-3">
        <h3 class="fs-5 text-dark mt-3 mb-3 ms-2">
          <i class="fa fa-user-circle"></i>
          <%= profileData.nama_lengkap%>
        </h3>
        <hr />
        <!-- Nav tabs -->
        <ul class="nav flex-column nav-tabs">
          <li class="nav-item">
            <a class="nav-link edit-profil active" data-toggle="tab" href="#edit-profil"><i
                class="fa fa-user-edit me-2"></i>Edit Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kelas-saya"><i class="fa fa-house-user me-2"></i>Kelas Saya</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#daftar-tersimpan"><i class="fa fa-archive me-2"></i>Daftar
              Tersimpan</a>
          </li> -->
          <hr />
          <li class="nav-item">
            <a class="nav-link pusat-bantuan" href="/dashboard-student/profile/pusat-bantuan"><i
                class="fa fa-question-circle me-2"></i>Pusat Bantuan</a>
          </li>
        </ul>
        <button data-bs-toggle="modal" data-bs-target="#signout-modal" style="width: 100%"
          class="mt-4 btn bg-primary-color text-light">
          Keluar
        </button>
      </div>
      <div class="col-md-9 col-12">
        <!-- Tab Content -->
        <!-- Edit Profil -->
        <form action='/dashboard-student/profile?_method=PUT' method="POST"
          enctype="multipart/form-data">
          <% if (success && success.length) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
              <% if (error && error.length) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                  <div class="tab-content">
                    <div id="edit-profil" class="tab-pane active">
                      <div class="form-section rounded">
                        <div class="row">
                          <div class="col-md-9 col-12">
                            <h3 class="mb-2 mt-1">Informasi Akun</h3>
                            <div class="row">
                              <div class="col mb-3">
                                <h5>Nama Lengkap</h5>
                                <div class="input-group flex-nowrap">
                                  <input value="<%= profileData.nama_lengkap%>" type="text" class="form-control"
                                    name="nama_lengkap" pattern="[a-zA-Z][a-zA-Z ]+"/>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col mb-2">
                                <h5>Username</h5>
                                <div class="input-group flex-nowrap">
                                  <input value="<%=profileData.username %>" type="text" class="form-control" id="username"
                                    name="username" />
                                </div>
                              </div>
                            </div>
                            <div class="row mt-4">
                              <div class="col mb-2">
                                <h5>Nomor Handphone</h5>
                                <div class="input-group flex-nowrap">
                                  <input value="<%=profileData.no_handphone%>" class="form-control"
                                    name="no_handphone" type="number" />
                                </div>
                              </div>
                            </div>
                            <div class="row mt-4">
                              <div class="col mb-2">
                                <h5>Email</h5>
                                <div class="input-group flex-nowrap">
                                  <input value="<%= profileData.email%>" class="form-control" name="email" />
                                </div>
                              </div>
                            </div>
                          </div>


                          <div class="col mx-4">
                            <div>
                              <div class="button-wrap upload-picture row mt-5">
                                <% if (profileData.foto_profil==null) { %>
                                  <i style="font-size: 4rem; text-align: center;"
                                    class="fa fa-user-circle text-secondary mb-3"></i>
                                  <% } else { %>
                                    <img src="/<%= profileData.foto_profil %>" alt=""
                                      style="height: 100px; width: 100px;" class="mx-auto d-block p-0">
                                    <% } %>
                                      <img id="fotoprofilimg" src="" class="w-100 mt-3" />
                                      <label class="btn primary-outline btn-file mt-3">
                                        Unggah Gambar <input accept=".png, .jpg, .jpeg" type="file"
                                          style="display: none;" name="foto_profil" id="foto_profil" /> </label>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="row mt-4 px-2">
                          <button class="btn text-white bg-primary-color" type="submit">
                            Simpan
                          </button>
                        </div>


                      </div>
                    </div>
        </form>

        <!-- Kelas Saya -->
        <div id="kelas-saya" class="tab-pane fade rounded">
          <div class="bg-light margin-top-5 rounded px-3 py-3">
            <div class="row align-items-center">
              <div class="col-md-9 col-8">
                <ul class="nav nav-tabs ms-4">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kelas-aktif">Aktif</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kelas-selesai">Selesai</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 col-3">
                <a href="/buka-kelas" class="btn btn-sm fs-6  mt-2 bg-primary-color text-light">
                  Gabung Kelas <i class="fa fa-plus-circle"></i>
                </a>
              </div>
            </div>
            <div class="tab-content">
              <div id="kelas-aktif" class="bg-light form-section tab-pane active">
                <% for (let i = 0; i< kelasAktif.length; i++) {%>
                <div class="row mt-3" style="line-height: 0.5;">
                  <div class="col-2">
                    <img src="/IMG/struktur-bangunan.png" alt="">
                  </div>
                  <div class="col-10">
                    <a href="/kelas/<%= kelasAktif[i].course_id %>" class="text-dark"><h4><%=kelasAktif[i].mata_kuliah %></h4></a>
                    <p>by <strong><%=kelasAktif[i].nama_mentor%></strong> </p>
                    <p class="text-secondary" style="font-size: smaller;"><%=kelasAktif[i].tanggal_kelas %> • <%=kelasAktif[i].waktu_kelas %> WIB</p>
                    <% if (kelasAktif[i].link_zoom) { %>
                      <p>Link Zoom: <a href="<%=kelasAktif[i].link_zoom %>" class="text-secondary"><%=kelasAktif[i].link_zoom %></a></p>
                    <% } %>
                  </div>
                </div>
                <hr>
                <% } %> 
              </div>

              <div id="kelas-selesai" class="container tab-pane fade">
                <% for (let i = 0; i< kelasSelesai.length; i++) {%>
                <div class="row mt-3" style="line-height: 0.5;">
                  <div class="col-2">
                    <img src="/IMG/struktur-bangunan.png" alt="">
                  </div>
                  <div class="col-10">
                    <h4><%=kelasSelesai[i].mata_kuliah %> </h4>
                    <p>by <strong><%=kelasSelesai[i].nama_mentor%></strong> </p>
                    <p class="text-secondary" style="font-size: smaller;"><%=kelasSelesai[i].tanggal_kelas %> • <%=kelasSelesai[i].waktu_kelas %> WIB</p>
                  </div>
                </div>
                <hr>
                <% } %>



              </div>
            </div>
          </div>
        </div>


        <!-- Daftar Tersimpan -->
        <!-- <div id="daftar-tersimpan" class="tab-pane fade">
          <div class="form-section rounded">
            <div class="row">
              <div class="col-md-9 col-5">
                <a class="btn fs-5 fw-bold primary-color">Disimpan</a>
              </div>
              <div class="col">
                <div class="">
                  <button class="btn btn-sm fs-6 mt-2 outline-primary-color primary-color">
                    Batal
                  </button>
                  <button class="btn btn-sm fs-6 ms-3 mt-2 bg-primary-color text-light">
                    Hapus
                  </button>
                </div>
              </div>
            </div>
            <div class="row mt-3 ms-1" style="line-height: 0.5">
              <div class="col-2">
                <img src="/IMG/struktur-bangunan.png" alt="" />
              </div>
              <div class="col-8 col-md-9">
                <h4>Struktur Bangunan</h4>
                <p>by <strong>Micola Arighi D</strong></p>
                <p class="text-secondary" style="font-size: smaller">30 Mei 2020 • 23:59 WIB</p>
              </div>
              <div class="col">
                <input class="checkbox" type="checkbox" />
              </div>
            </div>
            <hr />
            <div class="row mt-3 ms-1" style="line-height: 0.5">
              <div class="col-2">
                <img src="/IMG/struktur-bangunan.png" alt="" />
              </div>
              <div class="col-8 col-md-9">
                <h4>Struktur Bangunan</h4>
                <p>by <strong>Micola Arighi D</strong></p>
                <p class="text-secondary" style="font-size: smaller">30 Mei 2020 • 23:59 WIB</p>
              </div>
              <div class="col">
                <input class="checkbox" type="checkbox" />
              </div>
            </div>
            <hr />
            <div class="row mt-3 ms-1" style="line-height: 0.5">
              <div class="col-2">
                <img src="/IMG/struktur-bangunan.png" alt="" />
              </div>
              <div class="col-8 col-md-9">
                <h4>Struktur Bangunan</h4>
                <p>by <strong>Micola Arighi D</strong></p>
                <p class="text-secondary" style="font-size: smaller">30 Mei 2020 • 23:59 WIB</p>
              </div>
              <div class="col">
                <input class="checkbox" type="checkbox" />
              </div>
            </div>
            <hr />
            <div class="row mt-3 ms-1" style="line-height: 0.5">
              <div class="col-2">
                <img src="/IMG/struktur-bangunan.png" alt="" />
              </div>
              <div class="col-8 col-md-9">
                <h4>Struktur Bangunan</h4>
                <p>by <strong>Micola Arighi D</strong></p>
                <p class="text-secondary" style="font-size: smaller">30 Mei 2020 • 23:59 WIB</p>
              </div>
              <div class="col">
                <input class="checkbox" type="checkbox" />
              </div>
            </div>
          </div>
        </div> -->
        <!-- Pusat Bantuan -->

      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="signout-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title" id="modalLabel" style="color: black;">Apakah anda yakin ingin keluar?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-secondary-color text-light" data-bs-dismiss="modal">Batal</button>
            <form action="/logout-student" method="post">
              <button type="submit" class="btn bg-primary-color text-light">Ya</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal ketika user ingin mengubah informasi akun -->
    <div class="modal fade" id="verification-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="mb-1">Verifikasi Perubahan</h5>
            <div class="bg-primary-color mb-4" style="width: 50%; height: 4px;"></div>
            <h6 class=" fs-5 mb-4">Masukkan password untuk mengubah informasi akun</h6>
            <div class="mb-3">
              <label for="inputPassword1" class="inputPassword form-label">Kata Sandi</label>
              <input placeholder="Masukkan Kata Sandi anda.." type="password" class="form-control" />
            </div>
            <div class="row justify-content-end">
              <div class="d-flex justify-content-end">
                <a class="me-2 btn primary-outline primary-color btn-lg" data-bs-dismiss="modal">Batal</a>
                <a data-bs-toggle="modal" data-bs-target="#saved-modal"
                  class="me-2 btn bg-primary-color text-light btn-lg" data-bs-dismiss="modal">Simpan Perubahan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Saved Change Modal -->
    <div class="modal fade" id="saved-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title" id="modalLabel" style="color: black;">Perubahan anda telah disimpan</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-lg bg-primary-color text-light" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ; -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/javascript/navbar.js"></script>
  <!-- <script src="/javascript/notif.js"></script> -->
  <script>
    $(function () {
      $('input#search').val('');
    });

    $("#username").keydown(function (e){
		var k = e.keyCode || e.which;
		var ok = k >= 65 && k <= 90 || // A-Z
			k >= 96 && k <= 105 || // a-z
			k >= 35 && k <= 40 || // arrows
			k == 9 || //tab
			k == 46 || //del
			k == 8 || // backspaces
			(!e.shiftKey && k >= 48 && k <= 57); // only 0-9 (ignore SHIFT options)

		if(!ok || (e.ctrlKey && e.altKey)){
			e.preventDefault();
		}
	});

    foto_profil.onchange = evt => {
      const [file] = foto_profil.files
      if (file) {
        fotoprofilimg.src = URL.createObjectURL(file)
      }
    }
  </script>

</body>

</html>